<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="">

<title></title>

<link rel="shortcut icon" type="img/png" href="img/logo/favicon.png">
<!-- LINEA ICONS  -->
<link rel="stylesheet" href="/fonts/css/icon-font.css">

<link href="/css/style.css" rel="stylesheet">